.header {
  background-color: lightsalmon;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header a {
  color: white;
  text-decoration: none;
  position: sticky;
}
.header a:hover {
  color: black;
}
